* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    text-transform: capitalize;
    padding: 8px 0;
}

.first-div {
    width: 500px;
    border: 5px solid red;
    border-radius: 5px;
    box-shadow: 8px 10px 0 #555;
}
.first-div h3 {
    text-align: center;
    text-transform: capitalize;
}
.first-div p {
    text-align: center;
}
.first-div img {
    width: 100%;
    height: 100%;
}

.second-div {
    margin-top: 20px;
    width: 500px;
    border: 5px dashed blue;
    box-shadow: 10px 20px violet;
}
.second-div h3 {
    text-align: center;
    text-transform: capitalize;
}
.second-div p {
    text-align: center;
}
.second-div img {
    width: 100%;
}